<!DOCTYPE html>
<html>
	<head>
		<title>Concept Extractor</title>
		<script type="text/javascript" src="/static/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/application.css">
	</head>
	<body>
		<div id="page" class="container">
			<div id="header">
				<h2><a href="/">Medical Concept Extractor</a></h2>
			</div>
			<div id="content">
				<br>
				{% block body %}{% endblock %}
			</div>
			<div id="footer">

			</div>
		</div>
	</body>
</html>